%footer
  .text-muted 
    %em "Out here progress is numbers..."
    All 
    = link_to 'EVE related materials', legal_path
    are property of 
    = link_to 'CCP Games', 'https://www.ccpgames.com'
    = ', © '
    = Time.now.year
