%table.table.table-striped
  %caption
    Top 5 Total DED Sites Completed
    %span.pull-right= link_to 'More', '#'
  %thead
    %tr
      %th.icon
      %th Character
      %th.numeric Amount
  %tbody
    - @public_top_ded_sites.each do |record|
      %tr
        %td= link_to character_image(record['_id'], 32), character_profile_path(record['_id'])
        %td= link_to Character.find(record['_id']).name, character_profile_path(record['_id'])
        %td.numeric= number_with_delimiter record['count']
