%table.table.table-striped
  %caption
    Top 5 Total Tax Collected
    %span.pull-right= link_to 'More', '#'
  %thead
    %tr
      %th.icon
      %th Corporation
      %th.numeric Amount
  %tbody
    - @corporations_top_tax.each do |record|
      - corporation = Corporation.find(record['_id'])
      - next if corporation.private?
      %tr
        %td= link_to corporation_image(corporation.id, 32), corporation_path(corporation)
        %td= link_to corporation.name, corporation_path(corporation)
        %td.numeric= number_to_isk_short record['tax']
