= breadcrumbs welcome_page_link, 'Top Average Ticks'
= render partial: 'top_average_ticks', locals: { caption: 'Top Average Ticks', subject: 'Character', value: 'Amount' }
= paginate @top_average_ticks
