.row
  .col-sm-4
    = top_table(@top_isk, caption: 'Top 5 Total ISK Earned', more: isk_path, subject: :character, value: :amount, subject_field: '_id', value_field: 'amount', value_display: :number_to_isk_short)
  .col-sm-4
    = top_table(@top_ticks, caption: 'Top 5 Ticks', more: global_ticks_path, subject: :character, value: :amount, subject_field: 'character_id', value_field: 'amount', value_display: :number_to_isk_short)
  .col-sm-4
    = top_table(@top_average_ticks, caption: 'Top 5 Average Ticks', more: global_ticks_path, subject: :character, value: :amount, subject_field: '_id', value_field: 'amount', value_display: :number_to_isk_short)
.row
  .col-sm-4
    = render :partial => 'global_summary'
  .col-sm-4
    / = render :partial => 'top_isk_corporations', locals: { caption: 'Top 5 Total ISK Earned (Corporations)', more: true }
  .col-sm-4
    / = render :partial => 'top_tax_corporations'
.row
  .col-sm-4
    / = render :partial => 'top_ded_sites'
  .col-sm-4
    / = render :partial => 'top_missions'
  .col-sm-4
    / = render :partial => 'top_rat_kills'
