%ol.breadcrumb
  %li.breadcrumb-item
    = link_to 'Factions', factions_path
  %li.breadcrumb-item
    = link_to @group.faction.name, faction_path(id: @group.faction_id)
  %li.breadcrumb-item.active= @group.name

.panel.panel-default
  .panel-body
    - @rats.each do |rat|
      %p= link_to rat.name, rats_path(rat.id)