%ol.breadcrumb
  %li.breadcrumb-item.active Factions

.panel.panel-default
  .panel-body
    - @factions.each do |faction|
      = link_to faction_image(faction.id, 128), faction_path(faction.id)
  .panel-footer
    = link_to 'Generic Groups', generic_groups_path, class: 'btn btn-default'