%table.table.table-striped
  %caption
    Top 5 Rats Bounty
    - more || false
    - if more
      %span.pull-right= link_to 'More', character_rats_path(@character)
  %thead
    %tr
      %th.icon
      %th Rat Name
      %th.numeric Bounty
  %tbody
    - @valuable_rats.each do |record|
      %tr
        %td= kill_image(record)
        %td= link_to record['name'], rats_path(record['rat_id'])
        %td.numeric= number_to_isk_short record['bounty']
