%p#notice= notice

= breadcrumbs welcome_page_link, character_link(@character), 'Top Rats Boundy'
= render partial: 'valuable_rats',  locals: { caption: 'Top Rats Bounty', more: false }
= paginate @valuable_rats
