%p#notice= notice

%ol.breadcrumb
  %li.breadcrumb-item
    = link_to 'Welcome Page', root_path
  %li.breadcrumb-item.active Mission Info

.panel.panel-default
  .panel-heading
    %h3.panel-title Mission Info
  .panel-body
    - @characters.each do |character|
      %p= link_to character.name, mission_path(character.id)