.panel.panel-default
  .panel-heading
    %h3.panel-title Mission Info
  .panel-body
    .row
      .col-sm-6
        %table.table
          - 1.upto(5) do |level|
            %tr
              %td= mission_level_label(level)
              %td= @character.wallet_records.where(mission_level: level, type: 'agent_mission_reward').count
      .col-sm-6
        %table.table
          %tr
            %th Total ISK from missions
            %td= @character.wallet_records.where(:mission_level.ne => nil).sum(:amount)
