---
http_interactions:
- request:
    method: get
    uri: https://esi.evetech.net/v4/corporations/1000009/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Allow:
      - GET,HEAD,OPTIONS
      Etag:
      - '"7dec51fc1b96a3129490c55656851005c277350c13727a2d99f2ad70"'
      Last-Modified:
      - Wed, 11 Jul 2018 14:48:59 GMT
      X-Esi-Error-Limit-Remain:
      - '100'
      X-Esi-Error-Limit-Reset:
      - '9'
      X-Esi-Request-Id:
      - '01138fcb-3b1e-476c-9755-14ac9d6c769b'
    body:
      encoding: UTF-8
      string: '{"ceo_id":3004073,"creator_id":1,"description":"Caldari Provisions
        is one of the companies that were created by war veterans of the Gallente-Caldari
        War. Specializing in the distribution of supply and logistics, Caldari Provisions
        have carved themselves a nice little niche within the Caldari State and are
        looking towards expanding their operation in other empires.","home_station_id":60000856,"member_count":242446,"name":"Caldari
        Provisions","shares":2750495824,"tax_rate":0.11,"ticker":"CP"}'
  recorded_at: Wed, 11 Jul 2018 15:32:51 GMT
[...]
- request:
    method: get
    uri: https://esi.evetech.net/v4/characters/810699209/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Allow:
      - GET,HEAD,OPTIONS
      Etag:
      - '"3f48166a808a7c496dd3115fb97389205930508cd559c1b6ead52d15"'
      Last-Modified:
      - Wed, 11 Jul 2018 15:30:21 GMT
      X-Esi-Error-Limit-Remain:
      - '100'
      X-Esi-Error-Limit-Reset:
      - '9'
      X-Esi-Request-Id:
      - 3eebb3f3-addb-4711-9dad-51134935524c
    body:
      encoding: UTF-8
      string: '{"ancestry_id":8,"birthday":"2006-09-10T22:49:00Z","bloodline_id":2,"corporation_id":1000009,"description":"<font
        size=\"12\" color=\"#bfffffff\">I used to be a Caracal pilot just like you,
        but then I got an electron bomb to the hull<br><br><\/font><font size=\"12\"
        color=\"#ffffa600\"><loc><a href=\"http:\/\/i.imgur.com\/N6hZTIo.jpg\">PWNZORZ<\/a><\/loc><\/font>","gender":"male","name":"Adrian
        Dent","race_id":1,"security_status":5.00882188}'
  recorded_at: Wed, 11 Jul 2018 15:32:51 GMT
- request:
    method: get
    uri: https://esi.evetech.net/v3/universe/types/25528/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Allow:
      - GET,HEAD,OPTIONS
      Content-Language:
      - en-us
      Etag:
      - W/"3535605a8d8c4396c264473ce29169fde2e319ce8684074f5ea26b16"
      Last-Modified:
      - Wed, 11 Jul 2018 11:10:33 GMT
      X-Esi-Error-Limit-Remain:
      - '100'
      X-Esi-Error-Limit-Reset:
      - '9'
      X-Esi-Request-Id:
      - f508efae-4d80-44c6-9d65-e2a580bf6c0b
    body:
      encoding: UTF-8
      string: '{"capacity":1000.0,"description":"One of the many quarters of the Gurista
        fleet.","dogma_attributes":[{"attribute_id":512,"value":50.0},{"attribute_id":192,"value":8.0},{"attribute_id":514,"value":50000.0},{"attribute_id":4,"value":1000.0},{"attribute_id":645,"value":1.5},{"attribute_id":6,"value":0.0},{"attribute_id":263,"value":60000.0},{"attribute_id":264,"value":0.0},{"attribute_id":9,"value":50000.0},{"attribute_id":267,"value":0.7},{"attribute_id":268,"value":1.0},{"attribute_id":269,"value":0.9},{"attribute_id":270,"value":0.8},{"attribute_id":272,"value":0.8},{"attribute_id":273,"value":0.9},{"attribute_id":274,"va[...]
- request:
    method: get
    uri: https://esi.evetech.net/v1/universe/groups/495/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Allow:
      - GET,HEAD,OPTIONS
      Content-Language:
      - en-us
      Etag:
      - W/"3535605a8d8c4396c264473ce29169fde2e319ce8684074f5ea26b16"
      Last-Modified:
      - Wed, 11 Jul 2018 11:10:33 GMT
      X-Esi-Error-Limit-Remain:
      - '100'
      X-Esi-Error-Limit-Reset:
      - '9'
      X-Esi-Request-Id:
      - 30db35d8-4ed9-49a5-819e-22e9f543238b
    body:
      encoding: UTF-8
      string: '{"category_id":11,"group_id":495,"name":"Deadspace Overseer''s Sentry","published":false,"types":[3795,3805,3809,17993,18630,18631,19703,19707,19955,19961,25472,25524,25528,25559,25805,25809,25866,26275,28508,28510,28998,29020,29021,29022,29023]}'
  recorded_at: Wed, 11 Jul 2018 15:32:51 GMT
[...]
- request:
    method: post
    uri: https://login.eveonline.com/oauth/token
    body:
      encoding: UTF-8
      string: '{"grant_type":"refresh_token","refresh_token":"BHuXV4W5Ubu_1Y2CaMZsBfL6qMjdyFWB8C6-Qu1Cv481"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic ZDhlNjRmMGQwYTRlNGE0ZDg2NzA1MmIwYzkzZWMwMWU6Y1pRdmlwMmw5WXk3dGJ6bWppQkNlcnhoc1hKM2l3SEh4cEV5N09CVw==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"access_token":"8y-NAxU-zckQhykdIhe_Q6vdVsQtc7Sck3T3OZCLiAJs38zrKIl0qAT2cwYUf3FB-I80hCyrV--AUkDv3cqlqA2","token_type":"Bearer","expires_in":1200,"refresh_token":"BHuXV4W5Ubu_1Y2CaMZsBfL6qMjdyFWB8C6-Qu1Cv481"}'
  recorded_at: Wed, 11 Jul 2018 15:32:54 GMT
[...]
- request:
    method: get
    uri: https://esi.evetech.net/v4/characters/810699209/wallet/journal/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer 8y-NAxU-zckQhykdIhe_Q6vdVsQtc7Sck3T3OZCLiAJs38zrKIl0qAT2cwYUf3FB-I80hCyrV--AUkDv3cqlqA2
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Allow:
      - GET,HEAD,OPTIONS
      Etag:
      - '"ed2e5773d709f4a0654d954884b08db4e152aeb8a70cb70b54e01bc4"'
      Last-Modified:
      - Wed, 11 Jul 2018 15:32:54 GMT
      X-Esi-Error-Limit-Remain:
      - '100'
      X-Esi-Error-Limit-Reset:
      - '5'
      X-Esi-Request-Id:
      - 6699c4ef-9fcd-462e-ad19-5d272aa5cb68
      X-Pages:
      - '1'
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Wed, 11 Jul 2018 15:32:55 GMT
[...]
- request:
    method: get
    uri: https://esi.evetech.net/v3/alliances/1354830081/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Allow:
      - GET,HEAD,OPTIONS
      Etag:
      - '"7b7362de30f26dae2913a4d7e093a50c6316e12a0806da0013833a2d"'
      Last-Modified:
      - Wed, 11 Jul 2018 15:19:47 GMT
      X-Esi-Error-Limit-Remain:
      - '100'
      X-Esi-Error-Limit-Reset:
      - '4'
      X-Esi-Request-Id:
      - 1e51658d-fbee-4eee-8dcc-4fecb0f23766
    body:
      encoding: UTF-8
      string: '{"creator_corporation_id":459299583,"creator_id":240070320,"date_founded":"2010-06-01T05:36:00Z","executor_corporation_id":1344654522,"name":"Goonswarm
        Federation","ticker":"CONDI"}'
  recorded_at: Wed, 11 Jul 2018 15:32:56 GMT
recorded_with: VCR 3.0.3
